html {
  font-family: 'Poppins', sans-serif;
}

main {
  max-width: 550px;
  background-color: rgba(245, 245, 245, 0.911);
}

/* Header section: */

.header{
  display:flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.header img {
  height: 50px;
}

/* Profile Section */

.profile-section{
  position: relative;
}

.profile-picture{
  width: 540px;
  border-radius: 20px;
  margin: 0 2px;
}

.profile-comments{
  position:absolute;
  top: 670px;
  left: 20px;
  color: white;
}

.dog-name{
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.dog-bio {
  font-size: 24px;
  margin: 5px 0;
}

.badge{
  width: 230px;
  position: absolute;
  top: 55px;
  left: 25px;
  transform: rotate(-30deg);
}

/* Interaction Section */

.interaction {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 10px 5px;
  padding: 25px 0;
}

.wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px silver ;
}

#like-btn:hover, #like-btn:focus, #like-btn:active {
  background-color: #dbfff4;
}

#reject-btn:hover, #reject-btn:focus, #reject-btn:active {
  background-color: #ffe7ef;
}

